<meta charset="UTF-8">

<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">

<!-- Icons -->
<link rel="shortcut icon" href="{{ site.baseurl }}/media/photo.png">
<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/media/photo.png">

<!-- RSS -->
<link rel="alternate" type="application/atom+xml" title="{{ site.url | remove: "http://" }} Atom Feed" href="{{ site.baseurl }}/atom.xml">

<!-- Le Indiweb-->
{% if site.webmention %}<link rel="webmention" href="{{ site.webmention }}" />{% endif %}
{% if site.micropub %}<link rel="micropub" href="{{ site.micropub }}" />{% endif %}
{% if site.authorization_endpint %}<link rel="authorization_endpoint" href="{{ site.authorization_endpoint }}">{% endif %}
{% if site.token_endpoint %}<link rel="token_endpoint" href="{{ site.token_endpoint }}">{% endif %}

<!-- Legacy-->
{% if site.openid_server %}<link rel="openid.server" href="{{ site.openid_server }}" />
<link rel="openid.delegate" href="{{ site.url }}" />{% endif %}
{% if site.pingback %}<link rel="pingback" href="{{ site.pingback }}" />{% endif %}

<!-- TODO: Search Verification-->

<!-- Page Specific Head-->
{% include title.liquid %}
{% include excerpt.liquid %}
<!-- Meta -->
<title>{{ title }}</title>
{% if excerpt %}<meta name="description" content="{{ excerpt }}">{% endif %}
{% if page.author %}<meta name="author" content="{{ page.author.name }}">{% endif %}
<!-- TODO: canonical logic-->
